:host {
  background-image: url('https://commit-sudoku.github.io/zairyou/background1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

mat-card {
  width: 300px;
}

.title {
  color: #4b4d91;
}

.sub-title {
  font-size: 14px;
  color: #d8aeb9;
}
