@import "../../shared/styles/_variables";

:host {
  background-image: url('/assets/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

mat-card {
  width: 34rem;
}

.title {
  margin-bottom: 3.6rem;
}
