<div mat-dialog-title class="d-flex align-items-center position-relative">

  <div class="mono-font text-uppercase position-relative d-flex align-items-center w-100">

    <button *ngIf="!editMode"
            mat-mini-fab
            (click)="enableForm()"
            type="button" class="mr-3">
      <mat-icon class="mini-icon">create</mat-icon>
    </button>

    <button *ngIf="editMode"
            mat-mini-fab
            (click)="onSubmit(form); disableForm()"
            type="button" class="mr-3">
      <mat-icon class="mini-icon">done</mat-icon>
    </button>

    <form #ngForm="ngForm"
          [formGroup]="form"
          (ngSubmit)="onSubmit(form); disableForm()"
          class="w-100">

      <input #title
             (blur)="onSubmit(form); disableForm()"
             formControlName="title"
             type="text"
             class="text-uppercase modal-input w-100">

      <div class="modal-input-underline"></div>

    </form>

  </div>


  <button mat-mini-fab
          (click)="close()"
          type="button"
          color="accent"
          class="position-absolute dialog-close-btn">
    <mat-icon class="mini-icon">close</mat-icon>
  </button>

</div>

<div mat-dialog-content>

  <div class="w-100 text-center">
    <img src="{{ data.img.url  }}" alt="{{ data.img.title }}" class="img-fluid dialog-image">
  </div>

</div>

<div mat-dialog-actions class="d-flex justify-content-center">
  <a mat-button
     color="primary"
     href="{{ data.img.url }}"
     target="_blank" class="mono-font text-uppercase">
    {{ 'DIALOG.OPEN_FULL_SIZE' | translate }}
  </a>
</div>
