@import "../../shared/styles/variables";
@import "../../shared/styles/animations";

:host {
  width: 100%;
}

.animation-pulse {
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.images.dragging {
  .img-block mat-card {
    pointer-events: none;
  }
}

.img-block {
  padding-top: 1rem;

  &[draggable=true] {
    cursor: grab;

    .pointer {
      cursor: inherit;
    }
  }

  &.hovered {
    @extend .animation-jello;
    animation-duration: .5s;
    animation-fill-mode: forwards;

    .mask {
      display: flex;
    }
  }
}

.card {
  background-color: transparent;
  border: none;
}

.mask {
  background-color: rgba($primary-color, 0.6);
  border: 4px dotted $primary-color;
  display: none;
  color: $bg-color;
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  .mat-icon {
    font-size: 12rem;
    height: auto;
    width: auto;
  }
}

.image-title {
  background-color: $white-color;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}
