<div class="d-flex justify-content-between">

  <h1 class="heading">

  <span [routerLink]="['/gallery/categories']"
        matTooltip="{{ 'NAV.GALLERY' | translate }}"
        class="d-flex align-items-center mono-font accent-text2 heading-logo heading-link">
    <mat-icon>pages</mat-icon>
    <mat-icon>chevron_left</mat-icon>
  </span>{{ categoryName }}

  </h1>

  <mat-form-field class="ml-3">
    <input type="text"
           matInput
           autocomplete="off"
           [matAutocomplete]="auto"
           [formControl]="searchControl"
           placeholder="{{ 'SEARCH' | translate }}">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let image of filteredImages" [value]="image.title">
        {{ image.title }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

</div>

<div class="d-flex mb-5">
  <mat-slide-toggle [(ngModel)]="editMode">
    {{ 'EDIT_MODE' | translate }}
  </mat-slide-toggle>
</div>

<div #imagesContainer class="card-columns images">

  <div *ngFor="let img of filteredImages"
       [afgDnD]="{id: img.id, order: img.order}"
       (dropped)="onImageDrop($event)"
       (dragging)="onImageDragging($event)"
       [attr.draggable]="editMode"
       class="d-inline-block img-block w-100">

      <div class="card d-flex flex-column align-items-center position-relative">

        <div (click)="openImageDialog(img)" class="position-relative text-center">

          <button (click)="removeImage(img)"
                  [ngClass]="{'visible animation-pulse': editMode && !isDragging}"
                  matTooltip="{{ 'REMOVE' | translate }}"
                  mat-mini-fab=""
                  color="warn"
                  type="button"
                  class="remove-btn">
            <mat-icon>clear</mat-icon>
          </button>

          <button (click)="moveImage(img)"
                  [ngClass]="{'visible animation-pulse': editMode && !isDragging}"
                  matTooltip="{{ 'MOVE' | translate }}"
                  mat-mini-fab=""
                  type="button"
                  class="move-btn">
            <mat-icon>subdirectory_arrow_left</mat-icon>
          </button>

          <img src="{{ img.url }}"
               draggable="false"
               [afgSpinner]="{isShown: true, onLoad: true}"
               class="img-fluid gallery-img pointer">

          <div class="mono-font text-break image-title">
            {{ img.title }}
          </div>

        </div>

        <div class="align-items-center justify-content-center mask">
          <mat-icon>compare_arrows</mat-icon>
        </div>

      </div>

  </div>

  <div *ngIf="searchControl.dirty && filteredImages.length === 0"
       class="search-no-results mono-font text-center text-uppercase w-100 mt-3 mb-3">
    {{ 'NO_RESULTS' | translate }}
  </div>

</div>

<div class="container fixed-bottom d-flex justify-content-end">

  <button (click)="openUploadDialog()"
          matTooltip="{{ 'IMAGES.UPLOAD_IMG' | translate }}"
          type="button"
          mat-fab=""
          class="mb-5">
    <mat-icon>add_a_photo</mat-icon>
  </button>

</div>
