<h1 class="heading">

<span class="grate mr-3">#</span>

{{ 'IMAGES.GALLERY' | translate }} // {{ categoryName }}

</h1>

<div class="d-flex mb-5">
  <mat-slide-toggle [(ngModel)]="editMode">
    {{ 'EDIT_MODE' | translate }}
  </mat-slide-toggle>
</div>

<div class="row images align-items-stretch">

  <div *ngFor="let img of imgs; let i = index"
       [afgDnD]="{id: img.id, order: img.order}"
       (dropped)="onImageDrop($event)"
       [attr.draggable]="editMode"
       class="img-block d-flex col-md-3 col-12 mb-4">

    <mat-card class="card d-flex flex-column justify-content-between w-100">

      <div class="h-100 d-flex flex-column align-items-center justify-content-center">
        <button (click)="removeImage(img)"
                [ngClass]="{'visible animation-pulse': editMode}"
                mat-mini-fab=""
                color="warn"
                type="button"
                class="remove-btn">
          <mat-icon>clear</mat-icon>
        </button>

        <div>
          <img src="{{ img.url }}" alt="{{ img.title }}" draggable="false" class="img-fluid gallery-img">
        </div>
      </div>

      <mat-form-field class="mt-4 field-title">
        <input (blur)="editTitle(img, $event.target.value)"
               [value]="img.title"
               [disabled]="!editMode"
               matInput
               type="text"
               placeholder="Title">
      </mat-form-field>

      <div class="align-items-center justify-content-center mask">
        <mat-icon>compare_arrows</mat-icon>
      </div>
    </mat-card>

  </div>

</div>

<div class="container fixed-bottom d-flex justify-content-end">

  <button (click)="openUploadDialog()"
          matTooltip="{{ 'IMAGES.UPLOAD_IMG' | translate }}"
          type="button"
          mat-fab=""
          class="mb-5">
    <mat-icon>add_photo_alternate</mat-icon>
  </button>

</div>
