<div *ngIf="uploadedFiles.length === 0"
     afgDropZone
     (hovered)="toggleHover($event)"
     (dropped)="startUpload($event)"
     [class.hovering]="isHovering"
     class="dropzone d-flex align-items-stretch justify-content-center">

  <label class="d-flex flex-column align-items-center justify-content-center file-label w-100">

    <h3>Drag and Drop Image</h3>

    <input (change)="startUpload($event.target.files)"
           type="file" multiple
           class="d-none">

    <span class="d-flex align-items-center justify-content-center">
      <mat-icon class="mr-2">cloud_upload</mat-icon>
      <span class="file-label">
        or choose a file
      </span>
    </span>

  </label>

</div>


<div *ngIf="uploadedFiles.length > 0" class="d-flex justify-content-center flex-column w-100">
  <mat-card *ngFor="let file of uploadedFiles; let idx = index" class="mb-4 w-100">
    <mat-card-content>
      <div class="d-flex">
    <span>
      {{ idx + 1 }}.
    </span>
        &nbsp;
        <span>
      {{ file.name }}
    </span>
        &nbsp;-&nbsp;
        <span>
      {{ file.size | fileSize }}
    </span>
      </div>

      <div class="progress">
        <div [attr.aria-valuenow]="(file.progress | async)"
             aria-valuemin="0"
             aria-valuemax="100"
             role="progressbar"
             class="progress-bar w-100">

          {{ (file.progress | async) | number }}%

        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <button (click)="clearUploadedFiles()"
          type="button"
          mat-raised-button
          color="primary"
          class="mt-4">
    Upload more
  </button>
</div>
