// colors
$white-color: #ffffff;

$bg-default-color: #393939;
$bg-disabled-color: #e8e8e8;
$bg-primary-color: #029639;
$bg-accent-color: #cc0000;
$bg-accent-disabled-color: #6c2425;

$border-color: #707070;
$border-color2: #cccccc;

$text-color: #000000;
$text-color2: #333333;
$text-color3: #6a6a6a;
$text-color4: #555555;
$text-color5: #8f6968;
