// colors
$black-color: #000000;
$white-color: #ffffff;

$primary-color: #3f51b5;
$accent-color1: #f16624;
$accent-color3: #00bcd4;

$text-color: #3e3e3e;
$text-color2: #364598;
$text-color3: #7d7d7d;
$text-color4: #585555;

$bg-color: #efefef;
