@import "variables";

$heading-logo-size: 40px;

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  margin: 0;
  min-width: 320px;
  font-size: 1.4rem;
}

a {
  @extend .primary-text;
  transition: all 0.2s ease-in;

  &:hover {
    @extend .accent-text2;
  }
}

.pointer {
  cursor: pointer;
}

.visibility-hidden {
  visibility: hidden;
}

.mono-font {
  font-family: Roboto Mono;
  font-weight: normal;
}

.primary-text {
  color: $primary-color;
}

.accent-text2 {
  color: $accent-color1;
}

.text-break {
  word-break: break-all;
}

.no-padding {
  padding: 0 !important;
}

.heading {
  align-items: center;
  display: flex;
  font-family: "Roboto Mono";
  margin-bottom: 2rem;
  font-weight: normal;
  color: $text-color;
  text-transform: uppercase;
}

.heading-logo {
  &.heading-link {
    @extend .pointer;
    color: $primary-color;
    transition: color 0.2s ease-in;

    &:hover {
      color: $accent-color1;
    }
  }

  mat-icon {
    font-size: $heading-logo-size;
    height: $heading-logo-size;
    width: $heading-logo-size;
    @extend .pointer;
  }
}

[afgInputSelection],
.selection {
  color: $text-color4;

  &::selection {
    background-color: rgba($accent-color1, 0.6);
    color: $white-color;
  }
}

.search-no-results {
  font-size: 1.8rem;
  color: $text-color4;
}

// NOTE: This is for material dialogs, bootstrap has z-index: 1030 on position-fixed classes
.cdk-overlay-container {
  z-index: 1031;
}
