<div class="d-flex justify-content-between">

  <h1 class="heading">

  <span class="d-flex align-items-center mono-font accent-text2 mr-2 heading-logo">
    <mat-icon>pages</mat-icon>
  </span>

    {{ 'NAV.GALLERY' | translate }}

  </h1>

  <mat-form-field class="ml-3">
    <input type="text"
           matInput
           autocomplete="off"
           [matAutocomplete]="auto"
           [formControl]="searchControl"
           placeholder="{{ 'SEARCH' | translate }}">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let ct of filteredCtgs" [value]="ct.name">
        {{ ct.name }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

</div>


<div class="d-flex mb-5">

  <mat-slide-toggle [(ngModel)]="editMode">
    {{ 'EDIT_MODE' | translate }}
  </mat-slide-toggle>

</div>

<div class="row flex-wrap w-100">

  <div *ngFor="let category of filteredCtgs"
       class="position-relative col-md-4 col-12 mb-4">

    <button (click)="openRemoveDialog(category)"
            [ngClass]="{'visible animation-pulse': editMode}"
            matTooltip="{{ 'REMOVE' | translate }}"
            mat-mini-fab=""
            color="warn"
            type="button"
            class="remove-btn">
      <mat-icon>clear</mat-icon>
    </button>

    <button (click)="openRenameDialog(category)"
            [ngClass]="{'visible animation-pulse': editMode}"
            matTooltip="{{ 'RENAME' | translate }}"
            mat-mini-fab=""
            type="button"
            class="move-btn">
      <mat-icon>edit</mat-icon>
    </button>

    <mat-card [routerLink]="['/gallery/images']"
              [queryParams]="{id: category.id, name: category.name}"
              class="text-center">

      <mat-card-title class="d-flex align-items-center">
        <mat-icon class="mr-4">photo_library</mat-icon>
        <span>
        {{ category.name }}
      </span>
      </mat-card-title>

    </mat-card>

  </div>

  <div *ngIf="searchControl.dirty && filteredCtgs.length === 0"
       class="search-no-results mono-font text-center text-uppercase w-100 mt-3 mb-3">
    {{ 'NO_RESULTS' | translate }}
  </div>

</div>

<div class="container fixed-bottom d-flex justify-content-end">

  <button (click)="openAddCategoryDialog()"
          matTooltip="{{ 'CATEGORIES.ADD_NEW_CATEGORY' | translate }}"
          type="button"
          mat-fab=""
          class="mb-5">
    <mat-icon>add_to_photos</mat-icon>
  </button>

</div>
