@import "../../shared/styles/_variables";

$nav-height: 4.5em;

:host {
  background-color: $bg-color;
}

nav {
  background-color: $primary-color;
  height: $nav-height;
}

.navbar-brand {
  color: $white-color;
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 1.6rem;
}

main {
  margin-top: $nav-height;
  padding-top: $nav-height;
}
